<div class="container">
  <div class="row filter">
    <div class="col-md-12">
      <input class="form-control" type='text' id='tweet_filter_query' placeholder="Search Tweets' content">
    </div>
  </div>

  <div class="row results">
    <div class="col-md-12">
      <div id="response"></div>
    </div>
  </div>
</div>

