<h2> Please enter query: </h2>
 (eg. sidazhou, not @sidazhou)
 <br>

<input type='text' id='twitter_search_query'>
<input type='button' id='twitter_search_button' value='Search'>
<br>
<br>

<div id="response"></div>
