/* http://image.slidesharecdn.com/xwumnn9hruigfsy6uhi8-signature-7873c75031ac31677418d06ca1135ba58cf1db5a062456d83a04778887726afe-poli-151012220150-lva1-app6891/95/using-design-system-in-lightning-components-72-638.jpg?cb=1444701691 */
$sf-blue: #00A1E0;

.highlighted {
  background-color: yellow;
}

.container {
  margin-top: 50px ;
  max-width: 800px;

  .filter.row {
    background-color: $sf-blue;
    border-radius: 5px;
  }

  .results.row {
    margin-top: 20px;

    li {
      .tweet-body {
        padding-left: 25px;

        .name {
          font-weight: bold;
        }
        .screen-name {
          color: grey;
          font-size: 11px;
        }
      }
    }
  }
}

input {
  max-width: 250px;
  margin: 30px;
}

